---
import { Icon } from "astro-icon";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Button from "@components/ui/button.astro";
import Contactform from "@components/contactform.astro";
---

<Layout title="Contact">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Хотите стать опекуном</Fragment>
      <Fragment slot="desc">
        Если возникли какие то вопросы, мы с радостью ответим.
      </Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-2 mx-auto max-w-4xl mt-16 mb-12 gap-12">
      <div class="bg-neutral-200 px-4 py-3">
        <h2 class="font-medium text-2xl text-gray-800">
          Шаги для опекунов/кураторов
        </h2>
        <p class="text-gray-600 leading-relaxed mt-3">
          Если вам понравилась собака, но вы не можете взять её домой, то можно
          стать её куратором (опекуном).
        </p>
        <ol class="list-decimal mt-8 pl-4 flex flex-col gap-2">
          <li>Выбираете животное.</li>
          <li>
            Ежемесячно переводите на покупку корма и обработок для этого
            животного, либо привозите в приют корм и обработки.
          </li>
          <li>По желанию помогаете в поиске новых хозяев (например, пиаром)</li>
          <li>По желанию можно приезжать общаться и гулять с питомцем.</li>
          <li>Можно стать опекуном одного животного или сразу нескольких.</li>
        </ol>
      </div>
      <div>
        <Contactform />
      </div>
    </div>
  </Container>
</Layout>
