---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";

---

<Layout title="Документы">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Документы</Fragment>
      <Fragment slot="desc">
        Устав и прочие организационные документы
      </Fragment>
    </Sectionhead>

    <p>много текста и документов</p>
    <p>много текста и документов</p>
    <p>много текста и документов</p>
    <p>много текста и документов</p>
    <p>много текста и документов</p>
    <p>много текста и документов</p>
    <p>много текста и документов</p>
    <p>много текста и документов</p>
    <p>много текста и документов</p>
    <p>много текста и документов</p>
  </Container>
</Layout>
