---
import { Image } from "@astrojs/image/components";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";
import { getPets } from "@lib/api";

const { pets } = await getPets();
---

<Layout title="Наши Подопечные">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Наши Подопечные</Fragment>
      <Fragment slot="desc">
        Группа занимается помощью бездомным животным г. Калининграда и
        Калининградской области. За редким исключением это могут быть домашние
        животные.
      </Fragment>
    </Sectionhead>
    <main class="mb-16">
      <ul class="flex flex-wrap justify-between">
        {
          pets.map((pet) => (
            <li
              class="mt-16 w-[300px] h-[300px]"
              style="background-color: #ccc;">
              <a href={`/pets/${pet.id}`}>
                <Image
                  src={pet.picture.url}
                  alt={pet.name}
                  background="#cccccc"
                  width={300}
                  fit="cover"
                  position="top"
                  height={300}
                  format="avif"
                  class="w-full rounded-md"
                />

                <h3 class="text-2xl font-semibold leading-snug tracking-tight mt-1 text-black">
                  {pet.name}
                </h3>
              </a>
            </li>
          ))
        }
      </ul>
    </main>
  </Container>
</Layout>
