---
import { Image } from "@astrojs/image/components";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";
import { getPosts } from "@lib/api";
import { getFormattedDate } from "@utils/all";
import { log } from "astro/dist/core/logger/core";

// const {posts} = (await getPosts());
---

<Layout title="Наши Подопечные">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Наши Подопечные</Fragment>
      <Fragment slot="desc">
        Группа занимается помощью бездомным животным г. Калининграда и
        Калининградской области. За редким исключением это могут быть домашние
        животные.
      </Fragment>
    </Sectionhead>
    <main class="mt-16 mb-16">
      <ul class="grid gap-16 max-w-4xl mx-auto"></ul>
    </main>
  </Container>
</Layout>
