---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";

---

<Layout title="Отчеты">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Отчеты</Fragment>
      <Fragment slot="desc">
        Всякие чеки и прочие отчеты по собранным деньгам
      </Fragment>
    </Sectionhead>

    <p>много текста и документов</p>
    <p>много текста и документов</p>
    <p>много текста и документов</p>
    <p>много текста и документов</p>
    <p>много текста и документов</p>
    <p>много текста и документов</p>
    <p>много текста и документов</p>
    <p>много текста и документов</p>
  </Container>
</Layout>
