<footer
  class="bg-neutral-100 text-center dark:bg-neutral-600 lg:text-left mt-5">
  <div
    class="flex items-center justify-center border-b-2 border-neutral-200 p-6 dark:border-neutral-500">
    <div class="mr-12 hidden lg:block">
      <span>Мы в социальных сетях:</span>
    </div>
    <div class="flex justify-center items-center">
      <a
        href="https://vk.com/ko_sao_komanda"
        class="mr-6 text-neutral-600 dark:text-neutral-200"
        target="_blank"
        rel="noopener noreferrer">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          version="1.1"
          width="32"
          height="32"
          class="opacity-80 hover:opacity-100"
          viewBox="0 0 256 256"
          xml:space="preserve">
          <defs> </defs>
          <g
            style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;"
            transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)">
            <path
              class="fill-slate-800"
              d="M 87.935 21.894 c 0.626 -2.086 0 -3.619 -2.977 -3.619 h -9.846 c -2.504 0 -3.658 1.324 -4.283 2.785 c 0 0 -5.008 12.204 -12.101 20.132 c -2.294 2.295 -3.337 3.026 -4.59 3.026 c -0.625 0 -1.531 -0.731 -1.531 -2.816 V 21.894 c 0 -2.503 -0.727 -3.619 -2.813 -3.619 H 34.32 c -1.564 0 -2.506 1.162 -2.506 2.264 c 0 2.373 3.547 2.921 3.913 9.597 v 14.499 c 0 3.179 -0.574 3.757 -1.826 3.757 c -3.337 0 -11.457 -12.26 -16.273 -26.288 c -0.944 -2.727 -1.89 -3.828 -4.406 -3.828 H 3.376 C 0.562 18.275 0 19.599 0 21.059 c 0 2.608 3.337 15.543 15.542 32.65 c 8.136 11.682 19.599 18.016 30.031 18.016 c 6.258 0 7.033 -1.407 7.033 -3.83 v -8.829 c 0 -2.814 0.593 -3.375 2.575 -3.375 c 1.46 0 3.963 0.729 9.805 6.362 c 6.676 6.676 7.776 9.671 11.532 9.671 h 9.846 c 2.812 0 4.219 -1.407 3.408 -4.182 c -0.889 -2.767 -4.076 -6.781 -8.305 -11.538 c -2.295 -2.712 -5.738 -5.633 -6.781 -7.094 c -1.461 -1.877 -1.043 -2.711 0 -4.381 C 74.687 44.53 86.684 27.631 87.935 21.894"
              style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill-rule: evenodd; opacity: 1;"
              transform=" matrix(1 0 0 1 0 0) "
              stroke-linecap="round"></path>
          </g>
        </svg>
      </a>
      <a
        href="https://t.me/sao_ko_komanda"
        target="_blank"
        rel="noopener noreferrer"
        title="Телеграм Канал"
        class="mr-6 text-neutral-600 dark:text-neutral-200">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          data-name="Layer 1"
          width="32"
          class="opacity-80 hover:opacity-100"
          height="32"
          viewBox="0 0 24 24"
          id="telegram"
          ><path
            class="fill-slate-800"
            d="M22.26465,2.42773a2.04837,2.04837,0,0,0-2.07813-.32421L2.26562,9.33887a2.043,2.043,0,0,0,.1045,3.81836l3.625,1.26074,2.0205,6.68164A.998.998,0,0,0,8.134,21.352c.00775.012.01868.02093.02692.03259a.98844.98844,0,0,0,.21143.21576c.02307.01758.04516.03406.06982.04968a.98592.98592,0,0,0,.31073.13611l.01184.001.00671.00287a1.02183,1.02183,0,0,0,.20215.02051c.00653,0,.01233-.00312.0188-.00324a.99255.99255,0,0,0,.30109-.05231c.02258-.00769.04193-.02056.06384-.02984a.9931.9931,0,0,0,.20429-.11456,250.75993,250.75993,0,0,1,.15222-.12818L12.416,18.499l4.03027,3.12207a2.02322,2.02322,0,0,0,1.24121.42676A2.05413,2.05413,0,0,0,19.69531,20.415L22.958,4.39844A2.02966,2.02966,0,0,0,22.26465,2.42773ZM9.37012,14.73633a.99357.99357,0,0,0-.27246.50586l-.30951,1.504-.78406-2.59307,4.06525-2.11695ZM17.67188,20.04l-4.7627-3.68945a1.00134,1.00134,0,0,0-1.35352.11914l-.86541.9552.30584-1.48645,7.083-7.083a.99975.99975,0,0,0-1.16894-1.59375L6.74487,12.55432,3.02051,11.19141,20.999,3.999Z"
          ></path></svg
        >
      </a>
    </div>
  </div>
  <div class="container p-6">
    <div class="grid md:grid-cols-2 lg:grid-cols-3">
      <div class="mb-6">
        <h5
          class="mb-2.5 font-bold uppercase text-neutral-800 dark:text-neutral-200">
          Links
        </h5>

        <ul class="mb-0 list-none">
          <li>
            <a href="#!" class="text-neutral-800 dark:text-neutral-200"
              >Link 1</a
            >
          </li>
          <li>
            <a href="#!" class="text-neutral-800 dark:text-neutral-200"
              >Link 2</a
            >
          </li>
          <li>
            <a href="#!" class="text-neutral-800 dark:text-neutral-200"
              >Link 3</a
            >
          </li>
          <li>
            <a href="#!" class="text-neutral-800 dark:text-neutral-200"
              >Link 4</a
            >
          </li>
        </ul>
      </div>

      <div class="mb-6">
        <h5
          class="mb-2.5 font-bold uppercase text-neutral-800 dark:text-neutral-200">
          Links
        </h5>

        <ul class="mb-0 list-none">
          <li>
            <a href="#!" class="text-neutral-800 dark:text-neutral-200"
              >Link 1</a
            >
          </li>
          <li>
            <a href="#!" class="text-neutral-800 dark:text-neutral-200"
              >Link 2</a
            >
          </li>
          <li>
            <a href="#!" class="text-neutral-800 dark:text-neutral-200"
              >Link 3</a
            >
          </li>
          <li>
            <a href="#!" class="text-neutral-800 dark:text-neutral-200"
              >Link 4</a
            >
          </li>
        </ul>
      </div>

      <div class="mb-6">
        <h5
          class="mb-2.5 font-bold uppercase text-neutral-800 dark:text-neutral-200">
          Реквизиты
        </h5>

        <ul class="mb-0 list-none">
          <li>
            <span class="text-neutral-800 dark:text-neutral-200">
              Расчётный счёт: 40701810220000000044
            </span>
          </li>
          <li>
            <span class="text-neutral-800 dark:text-neutral-200">
              Банк: КАЛИНИНГРАДСКОЕ ОТДЕЛЕНИЕ N8626 ПАО СБЕРБАНК
            </span>
          </li>
          <li>
            <span class="text-neutral-800 dark:text-neutral-200">
              БИК: 042748634
            </span>
          </li>
          <li>
            <span class="text-neutral-800 dark:text-neutral-200">
              Кор. Cчёт: 30101810100000000634
            </span>
          </li>
          <li>
            <span class="text-neutral-800 dark:text-neutral-200">
              ОГРН: 1193926013962
            </span>
          </li>
          <li>
            <span class="text-neutral-800 dark:text-neutral-200">
              ИНН: 3906384538
            </span>
          </li>
          <li>
            <span class="text-neutral-800 dark:text-neutral-200">
              КПП: 390601001
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div
    class="bg-neutral-200 p-4 text-center text-neutral-700 dark:bg-neutral-700 dark:text-neutral-200">
    © 2023 БФ Поможем Вместе
  </div>
</footer>
