<footer class="my-20">
  <p class="text-center text-sm text-slate-500">
    Благотворительный Фонд «Поможем Вместе 39», 
    Расчётный счёт: 40701810220000000044
    Банк: КАЛИНИНГРАДСКОЕ ОТДЕЛЕНИЕ N8626 ПАО СБЕРБАНК
    БИК: 042748634
    Кор. Cчёт: 30101810100000000634
    ОГРН: 1193926013962
    ИНН: 3906384538
    КПП: 390601001
  </p>
  <!--
    Can we ask you a favor 🙏
    Please keep this backlink on your website if possible.
    or Purchase a commercial license from https://web3templates.com
  -->
  <p class="text-center text-xs text-slate-500 mt-1">
    Сделано в спешке, но вскоре будет поправлено
  </p>
</footer>
