<div class="mt-12 md:mt-20">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight text-center">
    Новый дом для 100 собак
  </h2>
  <p class="text-lg mt-8 text-slate-600">
    Перед нами сейчас стоит задача купить землю, построить вольеры
  </p>
  <p>
    <strong>переход на пожертвования</strong> или переход на страницу как еще можно
    помочь (руками, строй материалами)
  </p>
  <p>фоточки</p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16"></div>
