---
import { Image } from "@astrojs/image/components";

import { getPets } from "@lib/api";

const {pets} = (await getPets());
let currentIndex = 2
const pet = pets[currentIndex]

---

<div class="swiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <Image
          src={pet.picture.url}
          alt={pet.name}
          height={400}
          width="auto"
          format="avif"
          class="rounded-md"
      />
      <h4>{pet.name}</h4>
    </div>
  </div>
</div>
