---
import Layout from "@layouts/Layout.astro";
import { getPosts } from "@lib/api";
import { IPost } from "env";

export async function getStaticPaths() {
  const data = (await getPosts()) as { posts: IPost[] };

  return data.posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
---

<Layout title={post.title}>
  <section class="p-10">
    <h1 class="leading-6 text-2xl mb-5">Good dog, {post.title}!</h1>
  </section>
</Layout>
